@font-face {
    font-family: 'MuseoSansCyrl';
    src: url(fonts/Museosanscyrl500.ttf);
}
body {
    overflow: hidden;
    font-family: 'MuseoSansCyrl', sans-serif;
}

#widget_button {
    border: 2px solid transparent;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    background: #e7873c;
    color: white;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    cursor: pointer;
    position: absolute;
    bottom: 50px;
    right: 50px;
    -webkit-box-shadow: -5px -5px 0px 0px rgba(168, 98, 49, 1);
    -moz-box-shadow: -5px -5px 0px 0px rgba(168, 98, 49, 1);
    box-shadow: -5px -5px 0px 0px rgba(168, 98, 49, 1);
    transform: scale(1) rotate(180deg);
    transition: transform 1s cubic-bezier(0.3, -0.7, 0.6, 1.7), box-shadow .6s cubic-bezier(0.7, 2.0, 0.9, 1.1) 1s;
}

#widget_button img {
    text-shadow: 3px 1px rgba(0, 0, 0, 0.3);
    transform: scale(1) rotate(180deg);
    transition: 1s cubic-bezier(0.3, -0.7, 0.6, 1.7);
}

#widget_button.clicked {
    -webkit-box-shadow: 5px 5px 0px 0px rgba(168, 98, 49, 1);
    -moz-box-shadow: 5px 5px 0px 0px rgba(168, 98, 49, 1);
    box-shadow: 5px 5px 0px 0px rgba(168, 98, 49, 1);
    transform: scale(0) rotate(0);
    transition: transform 1s cubic-bezier(0.3, -0.7, 0.6, 1.7), box-shadow .6s cubic-bezier(0.7, 2.0, 0.9, 1.1) 1s;
}

#widget_button.clicked i {
    transition: 1s cubic-bezier(0.3, -0.7, 0.6, 1.7);
    transform: scale(0) rotate(0);
}

#widget_button #preview_container {
    position: absolute;
    left: 120px!important;
    min-width: 200px;
    min-height: 30px;
    padding: 10px;
    border-radius: 10px;
    display: none;
    font-size: 14px;
    transform: rotate(180deg);
    background: #e7873c;
}

#widget_body {
    font-family: 'MuseoSansCyrl', sans-serif;
    display: none;
    width: 30%;
    max-height: 640px;
    height: 80%;
    overflow: hidden;
    border: 2px solid #e7873c;
    box-sizing: border-box;
    right: 10px;
    bottom: 120px;
    position: absolute;
    border-radius: 15px 15px 0px 0px;
    -webkit-box-shadow: inset 0px 0px 6px 1px rgba(110, 110, 110, 1);
    -moz-box-shadow: inset 0px 0px 6px 1px rgba(110, 110, 110, 1);
    box-shadow: inset 0px 0px 6px 1px rgba(110, 110, 110, 1);
}

.close_widget {
    position: absolute;
    right: 20px;
    color: white;
    font-size: 25px;
    cursor: pointer;
    color: rgba(0,0,0,0.25);
}

#widget_header {
    position: relative;
    z-index: 200;
    height: 45px;
    background: #e7873c;
    border-radius: 15px 15px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#widget_header #header_text {
    color: white;
    font-size: 21px;
    margin: 0;
}

#widget_input {
    border-top: 1px solid #e7873c;
    background: white;
    position: absolute;
    bottom: 0;
    display: flex;
    box-sizing: border-box;
    width: 100%;
    left: 0;
    height: 85px;
    min-height: 60px;
    padding: 20px 200px 20px 75px;
    z-index: 50;
    overflow-y: scroll;
    overflow-x: hidden;
    word-break: break-all;
    cursor: pointer;
}

#widget_input::after {
    content: '';
    position: absolute;
    height: 2px;
    top: 0;
    width: 0;
    left: 50%;
    background: #007fff;
    transition: .3s cubic-bezier(0.6, 1.0, 0.8, 0.8);
}

#widget_input::before {
    content: attr(placeholder);
    display: flex;
    position: absolute;
    top: 0;
    align-items: center;
    left: 75px;
    opacity: 0.5;
    height: 100%;
    width: 300px;
    transition: .4s ease-in;
}

#widget_input:focus {
    outline: none;
}


#widget_input:focus::before {
    content: '';
    opacity: 0;
    transition: .4s ease-in;
}

#widget_input:focus::after {
    width: calc( 100% + 4px );
    left: 0;
    transition: .5s cubic-bezier(0.3, 1, 0.6, 0.6);
}

#widget_input:not(:empty)::before {
    content: '';
    opacity: 0;
    transition: .4s ease-in;
}

#widget_input:empty::before {
    content: attr(placeholder);
    display: flex;
    transition: .4s ease-in;
}

#control_buttons {
    position: absolute;
    bottom: 3px;
    right: 8px;
    display: flex;
    height: 80px;
    flex-direction: column;
}

#control_buttons span {
    margin-top: 5px;
    cursor: pointer;
    z-index: 100;
    font-size: 14px;
    color: #e7873c;
    border: 1px solid #e7873c;
    border-radius: 15px;
    padding: 8px 35px;
    text-align: center;
    transition: .4s ease-out;
}

#control_buttons i{
    color: transparent;
    margin-right: 10px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #e7873c;
    transition: .5s ease-out;
}

#control_buttons a {
    margin-top: 5px;
    cursor: pointer;
    z-index: 100;
    font-size: 14px;
    color: #e7873c;
    border: 1px solid #e7873c;
    border-radius: 15px;
    padding: 7px 35px;
    text-align: center;
    transition: .4s ease-out;
    text-decoration: none;
}

#control_buttons span:hover {
    background: #e7873c;
    color: white;
    transition: .5s ease-out;
}

#control_buttons span:hover i{
    -webkit-text-stroke-color: white;
    transition: .5s ease-out;
}

#control_buttons a:hover {
    background: #e7873c;
    color: white;
    transition: .5s ease-out;
}

#control_buttons a:hover i{
    -webkit-text-stroke-color: white;
    transition: .5s ease-out;
}

#human_connect {
    position: absolute;
    top: 60px;
    right: 10px;
    cursor: pointer;
    z-index: 100;
    font-size: 14px;
    justify-content: center;
    display: flex;
    align-items: center;
    background: #f0965f;
    color: white;
    width: 35%;
    height: 33px;
    box-sizing: border-box;
    border: 1px solid #f0965f;
    border-radius: 15px;
    text-align: center;
    transition: .4s ease-out;
}

#human_connect i{
    color: transparent;
    margin-right: 10px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    transition: .4s ease-out;
}

#human_connect:hover {
    background: white;
    color: #e7873c;
    transition: .5s ease-out;
}

#human_connect:hover i{
    -webkit-text-stroke-color: #e7873c;
    transition: .5s ease-out;
}

#audio_input {
    position: absolute;
    left: 20px;
    width: 40px;
    height: 40px;
    bottom: 20px;
    display: flex;
    color: #e7873c;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 100%;
    z-index: 199;
    border: 1px solid #e7873c;
    box-shadow: inset 0 0 5px 4px #5b97f7;
    transition: .4s ease-in;
}

#audio_input i {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #e7873c;
    color: transparent;
    transition: .4s ease-out;
}

#audio_input::after {
    content: '';
    position: absolute;
    width: 90%;
    height: 90%;
    border-radius: 100%;
    border: 2px dashed #5b97f7;
    transition: .4s ease-out;
}

#audio_input::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border: 2px dotted transparent;
    transition: .4s ease-out;
}

#audio_input:hover {
    box-shadow: inset 0 0 3px 50px #e7873c;
    border-width: 2px;
    color: white;
    transition: .5s ease-out;
}

#audio_input:hover i{
    -webkit-text-stroke-color: transparent;
    color: white;
    transition: .5s ease-out;
}

#audio_input:hover::after {
    border-width: 4px;
    transition: .4s ease-out;
}

#audio_input:hover::before {
    width: 60%;
    height: 60%;
    border: 5px dotted #5b97f7;
    transition: border .3s ease-out, width .2s ease-out .15s, height .2s ease-out .15s;
}

#widget_input::-webkit-scrollbar {
    width: 8px;
}

#widget_input::-webkit-scrollbar-track {
    background: transparent;
}

#widget_input::-webkit-scrollbar-thumb {
    background: #e7873c;
    border-radius: 4px;
}


#widget_input::-webkit-scrollbar-thumb:hover {
    background: #e7653a;
    transition: .3s ease-in;
}

#widget_queue .widget_message {
    width: auto;
    padding: 5px 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    /*transition: .4s ease-in;*/
    display: none;
}

#widget_queue .widget_message .message_image {
    height: 150px;
    cursor: pointer;
}

#widget_queue {
    position: absolute;
    bottom: 95px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 60%;
    min-height: 270px;
    max-height: 505px;
    box-sizing: border-box;
    z-index: 20;
    overflow-y: scroll;
}

#widget_queue::-webkit-scrollbar {
    width: 8px;
}

#widget_queue::-webkit-scrollbar-track {
    background: transparent;
}

#widget_queue::-webkit-scrollbar-thumb {
    background: #e7873c;
    border-radius: 4px;
}


#widget_queue::-webkit-scrollbar-thumb:hover {
    background: #e7653a;
    transition: .3s ease-in;
}

#widget_queue .bot_message {
    background: #e7873c;
    align-self: flex-start;
    color: white;
}

#widget_queue .guest_message {
    background: #d6d1cc;
    align-self: flex-end;
    color: #565656;
}

#widget_avatar {
    position: absolute;
    top: 110px;
    right: 0;
    z-index: -1;
    width: 35%;
}

#widget_lightbox {
    z-index: 999;
    position: absolute;
    border: 2px solid #e7873c;
    background: white;
    display: none;
}

#modal_overlay {
    z-index: 900;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    cursor: pointer;
    display: none;
}